{% extends 'base.html' %}
{% block title %}About Us - DeepAudio{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8">
    <div class="card shadow">
      <div class="card-header bg-info text-white text-center">
        <i class="bi bi-info-circle me-2"></i>About Us
      </div>
      <div class="card-body">
        <p>
          DeepAudio é um projeto inovador focado em análise de áudio, extração de features e detecção de inconsistências.
          Utilizamos técnicas avançadas de processamento de sinais e aprendizado de máquina para oferecer soluções precisas
          e eficientes na validação de amostras de voz.
        </p>
        <p>
          Nossa missão é aprimorar a segurança e a confiabilidade em sistemas de reconhecimento de áudio, trazendo inovação
          e confiança para nossos usuários.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
